.vs/
Celia.io.Core.Auths.Abstractions/obj/
Celia.io.Core.Auths.DataAccess/obj/
Celia.io.Core.Auths.DataAccess/bin/
Celia.io.Core.Auths.Services/bin/
Celia.io.Core.Auths.Services/obj/
Celia.io.Core.Auths.WebAPI_Core/bin/
Celia.io.Core.Auths.WebAPI_Core/obj/
Celia.io.Core.Auths.Abstractions/bin/
Celia.io.Core.Auths.SDK/bin/
Celia.io.Core.Auths.SDK/obj/
.idea/
Celia.io.Core.Auths.WebAPI_Core/logs/
Celia.io.Core.Auths.WebAPI_Core/Properties/PublishProfiles/
ConsoleAppTester1/bin/Debug/
ConsoleAppTester1/obj/
Celia.io.Core.Auths.WebAPI_Core/Celia.io.Core.Auths.WebAPI_Core.csproj.user
